<link rel="stylesheet" href="/stylesheets/signin.css">
<div class="login-page">
  <div class="form">
    <form class="login-form" action="/addcandidate"  method="POST">
      <h3>Candidate</h3>
      <input type="text" id="user" name="Name" placeholder="Name" required/>
      <input type="email" id="mail" name="E-mail" placeholder="E-mail" required/>
      <div class="button">
      <button class="btn">Add Candidate</button>

      <button class="btn" style="margin-top: 10px;"><a href='/'> Back to home</a></button>
      </div>
    </form>
  </div>
</div>
