<link rel="stylesheet" href="/stylesheets/signin.css">
<div class="login-page">
  <div class="form">
    <form class="login-form" id="login-form">
      <h3>Scores For <name></h3>
      <input type="number" min="1" max="10" id="test1" name="Test1" placeholder="Test1" required/>
      <input type="number" min="1" max="10" id="test2" name="Test2" placeholder="Test2" required/>
      <input type="number" min="1" max="10" id="test3" name="Test3" placeholder="Test3" required/>
      <button id="login" type="submit">Add Scores</button>
      <div class="button">
      <button class="btn"><a href='/'>back to home</a></button>
      </div>
    </form>
  </div>
</div>
