<link rel="stylesheet" href="/stylesheets/signin.css">
<div class="login-page">
  <div class="form">
    <form class="login-form">
        <h3>Average Scores</h3>
      <label for="test1">Test1</label>
      <input  placeholder="Test1" readonly/>
      <label for="test2">Test2</label>
      <input   placeholder="Test2" readonly/>
      <label for="test3">Test3</label>
      <input  placeholder="Test3" readonly/>
      <button><a href="/">back to home</a> </button>
      <div class="button">
      <button class="btn" ><a href="/topscorer">top scorer</a></button>
      </div>
    </form>
  </div>
</div>
