<link rel="stylesheet" href="/stylesheets/signin.css">
<div class="login-page">
  <div class="form">
    <form class="login-form" id="login-form">
        
      <h3>Top Scorer</h3>
      <label for="user">Name</label>
      <input type="text" id="user" name="Name" placeholder="Name" readonly/>
      <label for="mail">Email</label>
      <input type="email" id="mail" name="E-mail" placeholder="E-mail" readonly/>
      <h3>Scores</h3>
      <label for="test1">Test1</label>
      <input type="number" min="1" max="10" id="test1" name="Test1" placeholder="Test1" readonly/>
      <label for="test2">Test2</label>
      <input type="number" min="1" max="10" id="test2" name="Test2" placeholder="Test2" readonly/>
      <label for="test3">Test3</label>
      <input type="number" min="1" max="10" id="test3" name="Test3" placeholder="Test3" readonly/>
      <button><a href="/">back to home</a> </button>
      <div class="button">
      <button><a href="/average">Average Scores</a> </button>

      </div>

    </form>
  </div>
</div>